{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn shadow-1 rounded-1 btn-outline btn-opening text-green"><span class="btn-outline-text"><i
                class="fa-solid fa-floppy-disk"></i> Enregistrer</span></button>

{{ form_end(form) }}
